.App {
  font-family: sans-serif;
  text-align: center;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
  color: #000000;
  margin: 0;
  text-align: center;
  background-color: rgb(171, 215, 255);
}

.form-control {
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  background-color: rgb(32, 32, 32);
}

input[type="text"]::placeholder {
  color: rgb(224, 224, 224);
}

footer {
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  border-top-color: rgb(128, 128, 128);
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}

.container-sm{
    background-color: rgba(243, 243, 243, 0.397);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}