.Header {
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  }
  
  .navlink {
    color: white;
    text-decoration: none;
  }

  .navlink:hover {
    background-color: rgb(71, 71, 71);;
  }
  
  .navbar {
    margin-bottom: 30px;
    background-color: rgb(29, 29, 29);
    color: rgb(48, 48, 48);
    position: sticky;
    border: 1px solid;
    border-bottom-color: rgb(128, 128, 128);
    top: 0;
  }